<%- include ("./partials/header") %>
    <div class="container">
      <% if (success === "true") { %>
        <div class="row">
            <% if (action === "update") { %>
                <div class="alert alert-success" role="alert">
                    Transaction Updated
                </div>
            <% } else if (action === "delete") { %>
                <div class="alert alert-success" role="alert">
                  Transaction Deleted
                </div>
            <% } %>
        </div>
      <% } %>
      <table class="table table-striped table-hover row-clickable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
              <th scope="col">Units</th>
              <th scope="col">Price/Unit</th>
            </tr>
          </thead>
          <tbody>
              <% let i=1 %>
              <% for (const element of transList) { %>
                  <tr>
                      <th scope="row"><%= i %></th>
                      <td><a href="/stockCafe/<%= element._id %>/edit"><%= element.symbol %></a></td>
                      <td><%= element.name %></td>
                      <% console.log(element.date.getMonth()) %>
                      <% console.log(element.date) %>
                      <td><%= element.date.getDate() %>-<%= element.date.getMonth() + 1 %>-<%= element.date.getFullYear() %></td>
                      <td><%= element.action %></td>
                      <td><%= element.units %></td>
                      <td>USD <%= element.price %></td>
                      <% i++ %>
                  </tr>
              <% } %>
          </tbody>
      </table>
    </div>
</body>
</html>