<%- include ("../partials/header.ejs") %>
    <% if(overallPortfolio.length > 0) { %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="h5 mt-3">Overview</h3>
                </div>
            </div>
            <table class="table">
                <tr>
                    <td class="col-10">Total</td>
                    <td >USD <%= summary.overallSum %></td>
                    <td class="text-end"><button class="btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#pnlContainer" aria-expanded="false" aria-controls="collapseOverview">+</button></td>
                </tr>
                <tr class="collapse " id='pnlContainer'>
                    <td class="col-10">P&L</td>
                        <% if( summary.overallPnlColor > 0 ) { %>
                            <td class="text-success" colspan="2">+<%= summary.overallPnl %> (+<%= summary.overallPnlPercent %>%)</td>
                        <% } else if (summary.overallPnlColor < 0 ) { %> 
                            <td class="text-danger" colspan="2"><%= summary.overallPnl %> (<%= summary.overallPnlPercent %>%)</td>
                        <% } else { %> 
                            <td class="text-secondary" colspan="2"><%= summary.overallPnl %> (<%= summary.overallPnlPercent %>%)</td>
                        <% } %>
                </tr>
            </table>
            <div class="row">
                <div class="col">
                    <h3 class="h5">Portfolio</h3>
                </div>
            </div>
            <% for(const element of overallPortfolio) { %>
                <table class="table">
                    <tr>
                        <td colspan="2"><%= element.name %> (<%= element._id %>)</td>
                        <td class="text-end"><button class="btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target='#<%=element._id %>Container' aria-expanded="false" aria-controls="collapseOverview">+</button></td>
                    </tr>
                    <tr class="collapse" id='<%=element._id %>Container'>
                        <td class="col-10">P&L</td>
                        <% if( element.pnlColor > 0 ) { %>
                            <td class="text-success col-2">+<%= element.pnl %> (+<%= element.pnlPercent %>%)<td>
                        <% } else if (element.pnlColor < 0 ) { %> 
                            <td class="text-danger col-2"><%= element.pnl %> (<%= element.pnlPercent %>%)</td>
                        <% } else { %> 
                            <td class="text-secondary col-2"><%= element.pnl %> (<%= element.pnlPercent %>%)</td>
                        <% } %>
                    </tr>
                    <tr class="collapse" id='<%=element._id %>Container'>
                        <td class="col-10">Average Price</td>
                        <td class="col-2" colspan="2"><%= element.avgPrice %></td>
                    </tr>
                    <tr class="collapse" id='<%=element._id %>Container'>
                        <td class="col-10">Latest Close</td>
                        <td class="col-2" colspan="2"><%= element.close %></td>
                    </tr>
                    <tr class="collapse" id='<%=element._id %>Container'>
                        <td class="col-10">Shares</td>
                        <td class="col-2" colspan="2"><%= element.totalUnits %></td>
                    </tr>
                    <tr class="collapse" id='<%=element._id %>Container'>
                        <td class="col-10">Value</td>
                        <td class="col-2" colspan="2">USD <%= element.value %></td>
                    </tr>
                </table>
            <% } %> 
        </div>
    <% } else { %>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4 align-self-center text-center">
                    <h3>Please Add Transaction</h3>
                </div>
            </div>
        </div>    
    <% } %>
<%- include ("../partials/footer.ejs") %>